@font-face {
  font-family: "Ease Standard Trial";
  src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737211941/cyberfiction/fonts/easestandardtrial_regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ease Standard Trial";
  src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737211941/cyberfiction/fonts/easestandardtrial_medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ease Standard Trial";
  src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737211941/cyberfiction/fonts/easestandardtrial_semibold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ease Standard Trial";
  src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737211941/cyberfiction/fonts/easestandardtrial_bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ease Standard Trial";
  src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737211941/cyberfiction/fonts/easestandardtrial_black.woff2");
  font-weight: 800;
  font-style: normal;
}

:root {
  --white: #f1f1f1;
  --black: #000000;
  --gray: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ease Standard Trial", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: var(--white);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 1% 3%;
  background-color: var(--white);
}

header > h3 {
  font-weight: 400;
  font-size: 1.6vw;
}

header > div {
  font-size: 1vw;
  font-weight: 500;
  display: flex;
  gap: 0.7vw;
  align-items: center;
}

header > div > button {
  font-size: 1vw;
  padding: 0.5vw 1vw;
  border-radius: 5vw;
  background-color: var(--black);
  color: var(--white);
  border: none;
}

canvas {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 100%;
  height: 97dvh;
}

#banner,
#section1,
#section2,
#section3 {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
}

.banner-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 0 3%;
}

.main-heading {
  display: flex;
  white-space: nowrap;
  text-transform: uppercase;
}

.main-heading > span {
  font-size: 10vw;
  font-weight: 400;
  animation-name: textAnim;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main-heading > span > span {
  -webkit-text-stroke: 0.15vw var(--black);
  color: transparent;
}

@keyframes textAnim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.banner-text-div {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.text-left,
.text-right {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-right {
  text-align: right;
}

.subtext {
  font-size: 1.1vw;
  line-height: 1.5vw;
  font-weight: 400;
  color: var(--gray);
  text-transform: uppercase;
}

.bold-text {
  font-weight: 500;
  text-transform: uppercase;
}

.mobile-text {
  display: none;
}

.secondary-heading {
  font-size: 3.25vw;
  line-height: 3.75vw;
  font-weight: 500;
  text-transform: uppercase;
}

.section-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.section-div div:first-child,
.section-div div:last-child {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-div div:last-child {
  text-align: right;
}

#section2 .section-div div:last-child {
  padding-top: 15%;
}

#section3 .section-div div:last-child {
  padding-top: 10%;
}

@media screen and (max-width: 1280px) {
  .section-div div:first-child,
  .section-div div:last-child,
  .text-left,
  .text-right {
    width: 30%;
  }

  #section3 .section-div div:last-child {
    padding-top: 15%;
    width: 33%;
  }

  header > h3 {
    font-size: 3vw;
  }

  header > div,
  header > div > button {
    font-size: 1.5vw;
  }

  .subtext {
    font-size: 1.25vw;
    line-height: 1.75vw;
  }
}

@media screen and (max-width: 1023px) {
  canvas {
    height: 75%;
  }

  header {
    padding: 2% 3%;
  }

  header > h3 {
    font-size: 3.5vw;
  }

  header > div,
  header > div > button {
    font-size: 1.75vw;
  }

  #banner,
  #section1,
  #section2,
  #section3 {
    justify-content: start;
  }

  #banner {
    padding: 11% 0;
  }

  #section1,
  #section2 {
    padding: 14% 0;
  }

  #section3 {
    padding: 12% 0;
  }

  #section2 .section-div div:last-child,
  #section3 .section-div div:last-child {
    padding-top: 0;
  }

  .section-div,
  .banner-text-div {
    gap: 20px;
  }

  .section-div div:first-child,
  .section-div div:last-child,
  .text-left,
  .text-right {
    width: 50%;
  }

  #section3 .section-div div:first-child {
    width: 60%;
  }

  #section3 .section-div div:last-child {
    width: 40%;
  }

  .main-heading > span {
    font-size: 8vw;
    font-weight: 500;
  }

  .secondary-heading {
    font-size: 3vw;
    line-height: 3.5vw;
  }

  .subtext {
    font-size: 1.75vw;
    line-height: 2.25vw;
  }
}

@media screen and (max-width: 767px) {
  header > h3 {
    font-size: 4.5vw;
  }

  header > div,
  header > div > button {
    font-size: 2.25vw;
  }

  .secondary-heading {
    font-size: 4vw;
    line-height: 4.5vw;
  }

  .subtext {
    font-size: 2.25vw;
    line-height: 3vw;
  }

  .banner-text-div,
  .section-div {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  #section3 .section-div {
    flex-direction: column-reverse;
  }

  .text-left,
  .text-right,
  .section-div div:first-child,
  .section-div div:last-child {
    width: 100% !important;
    text-align: left;
  }

  .mobile-text {
    display: block;
    font-size: 2.5vw;
  }

  .bold-text {
    font-size: 2.5vw;
  }

  .desktop-text {
    display: none;
  }

  #banner,
  #section3 {
    padding: 16% 0;
  }

  #section1 {
    padding: 18% 0;
  }

  #section2 {
    padding: 20% 0;
  }
}
